@using Dnote.H5P.NetFW.UI
@using Dnote.H5P.NetFW.TestWebSite.Models
@model ExerciseViewModel
@{
    ViewBag.Title = "H5P Test WebSite";
}

@section head
{
    <link rel="stylesheet" href="~/Content/h5p.css" />
    @Html.H5PCssIncludes(Model.H5PMetaDataAgent)
}

<div class="jumbotron">
    <h1>@Model.Title</h1>
    <p>H5P Test WebSite for the .NET Framework 4.7.2</p>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="h5p-content" id="@Model.Id" data-content-id="@Model.Id"></div>

    </div>
</div>

@section scripts
{
    @Html.H5PScript(Model.H5PMetaDataAgent, Url)

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/h5p-event-dispatcher.js"></script>
    <script src="~/Scripts/h5p-action-bar.js"></script>
    <script src="~/Scripts/h5p-confirmation-dialog.js"></script>
    <script src="~/Scripts/h5p.js"></script>
    <script src="~/Scripts/request-queue.js"></script>
    <script src="~/Scripts/h5p-x-api-event.js"></script>
    <script src="~/Scripts/h5p-x-api.js"></script>
    <script src="~/Scripts/h5p-content-type.js"></script>
    @Html.H5PJsIncludes(Model.H5PMetaDataAgent)
}