@using Dnote.H5P.Enums
@using Dnote.H5P.NetFW.TestWebSite.Models

@model ExerciseViewModel
@{
    ViewBag.Title = "H5P Test WebSite";
}

@section head
{
    <link rel="stylesheet" href="~/Content/h5p.css" />
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    // Postback field: Userstate of the content which is stored when the page is submitted.
    @Html.HiddenFor(m => m.State)
    // Postback field: The type of storage to use: filesystem or azure.
    @Html.HiddenFor(m => m.Storage)

    <div class="jumbotron">
        <h1>@Model.Title</h1>
        <p>H5P Test WebSite for the .NET Framework 4.7.2</p>
    </div>

    <div class="row">
        <div class="col-md-12">

            @if (Model.Visible)
            {
                <h5p-content content-id="@Model.Id"
                             title="@Model.H5PMetaDataAgent.GetTitle(Model.Id)"
                             css="@Model.H5PMetaDataAgent.GetIncludeFilesCsv(Model.Id, FileTypes.Css)"
                             js="@Model.H5PMetaDataAgent.GetIncludeFilesCsv(Model.Id, FileTypes.Js)"
                             library="@Model.H5PMetaDataAgent.GetLibrary(Model.Id)"
                             json-content="@Model.H5PMetaDataAgent.GetJsonContent(Model.Id)"
                             user-content="@Model.State"
                             prefix="@Model.H5PMetaDataAgent.GetPrefix()"></h5p-content>
            }
            else
            {
                // If the content item does not support state, it cannot be displayed in solution mode, therefore hide it when it has been completed.
                <div>You already submitted this quiz...</div>
            }

        </div>
    </div>

    <button id="SaveButton" type="submit" class="btn btn-primary disabled" disabled="disabled">Save</button>
}

@section scripts
{
    @if (Model.Visible)
    {
        @*The following scripts are copied from the H5P site.*@
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/h5p-event-dispatcher.js"></script>
        <script src="~/Scripts/h5p-action-bar.js"></script>
        <script src="~/Scripts/h5p-confirmation-dialog.js"></script>
        <script src="~/Scripts/h5p.js"></script>
        <script src="~/Scripts/request-queue.js"></script>
        <script src="~/Scripts/h5p-x-api-event.js"></script>
        <script src="~/Scripts/h5p-x-api.js"></script>
        <script src="~/Scripts/h5p-content-type.js"></script>
        <script src="~/Scripts/dnote.h5p.js"></script>

        <script>
            $('h5p-content')[0].onfinished = function (state)
            {
                // Save the answers of the user.
                $('#@Html.IdFor(m => m.State)').val(state);
                // Enable the save button, so the user can submit the page.
                $('#SaveButton').removeClass('disabled');
                $('#SaveButton').removeAttr('disabled');
            };
        </script>
    }
}